
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .nav-menus {
        display: none;
    }

    .navbar #toggle-menu {
        display: block;
    }

    .banner-layout .banner-content{
        order: 2;
        margin-top: 80px;
     }
 
     .banner-layout .img-area {
         order: 1;
     }

    .img-area figure.img-box {
        width: 100%;
    }

    .banner-layout {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    .items {
        grid-template-columns: 1fr;
        justify-content: center;
        
    }
    .subscribe-layout {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

/*  small devices (portrait phones, less than 768px) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) { 

    .nav-menus {
        display: none;
    }
    .navbar #toggle-menu {
        display: block;
    }

    .img-area figure.img-box {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }
    .banner-layout {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }
    .banner-layout .banner-content{
       order: 2;
       margin-top: 80px;
    }

    .banner-layout .img-area {
        order: 1;
    }

    .items {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .subscribe-layout {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

/*  Medium devices (portrait phones, less than 768px) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) { 

    .nav-menus {
        display: none;
    }

    .navbar #toggle-menu {
        display: block;
    }

    .img-area figure.img-box {
        width: 60%;
        height: auto;
        margin: 0 auto;
    }
    .banner-layout {
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }
    .banner-layout .banner-content{
       order: 2;
       margin-top: 80px;
    }

    .banner-layout .img-area {
        order: 1;
    }

    .items {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .subscribe-layout {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
}

