
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Saira+Stencil+One&display=swap');


body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

/*----- Reuseable Styles -----*/
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.h-width {
    width: 50%;
}

.grid {
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
img {
    width: 90%;
    height: auto;
}
figure {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-space {
    padding: 60px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #E02C6D;
    border-radius: 30px;
    padding: 10px 25px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border: 1px solid #E02C6D;
}
.btn:hover {
    letter-spacing: 0.75px;
    background: transparent;
    color: #E02C6D;
}
.btn:hover i::before {
    padding-left: 2px;
}
.btn i {
    vertical-align: middle;
}

/*----- Header Area Style Start -----*/
.header-area {
    position: fixed;
    left: 0;
    right: 0;
    right: 0;
    background: #fff;
    z-index: 999;
    padding-top: 15px;
    padding-bottom: 5px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar #toggle-menu {
    display: none;
}
.navbar .mobile-menu .nav-toggle-menu {
    border: none;
    outline: none;
    background: transparent;
}
.navbar .mobile-menu .nav-toggle-menu i {
    font-size: 30px;
    color: #0A0826;
    
}
.brand-logo .logo {
    text-decoration: none;
    color: #E02C6D;
    font-family: 'Saira Stencil One', cursive;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}

/*----- Menu Style -----*/
.nav-menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
li:not(:last-child) {
    margin-right: 10px;
}
a.menu-link {
    text-decoration: none;
    color: #3A3A3A;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}
a.menu-link:hover {
    color: #E02C6D;
}
a.active {
    color: #E02C6D;
}

/*------ Nav Right Style ------*/
.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;

}
.nav-right .search-bar {
    margin-right: 20px;
    font-size: 24px;
}
.nav-right .shopping-cart {
    font-size: 24px;
}
/* Header Area Style End 
---------------------------------*/

/* Mobile Menu Area Style Start
---------------------------------*/
#toggle-menu {
  display: block;
  position: relative;
  z-index: 999;
  
  -webkit-user-select: none;
  user-select: none;
}
#toggle-menu ul li a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#toggle-menu > ul > li > a:hover {
  color: #E02C6D;
}

#toggle-menu input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
}

#toggle-menu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #0A0826;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#toggle-menu span:first-child {
  transform-origin: 0% 0%;
}

#toggle-menu span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#toggle-menu input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#toggle-menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#toggle-menu input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menu {
  position: absolute;
  width: 180px;
  height: 100vh;
  margin: -100px 0 0 -235px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}
#toggle-menu input:checked ~ ul {
  transform: none;
}
/* Mobile Menu Area Style 
---------------------------------*/

/* Bannner Area Style 
---------------------------------*/
.banner-area {
    padding-top: 150px;
    padding-bottom: 100px;
}
.banner-layout {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.banner-content .title {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
}
.banner-content .banner-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    margin-top: 10px;
    margin-bottom: 35px;
}
.img-area figure.img-box {
    width: 440px;
    height: 414px;
    margin: 0 auto;
    background: url(../images/circle-design.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Banner Area Style End 
---------------------------------*/

/* Logo Area Style Start 
----------------------------------*/
.logo-area .logo {
    position: relative;
}
.logo-area .logo::before {
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    position: absolute;
    top: -30px;
}
.logo-area .logo::after {
    content: '';
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
    position: absolute;
    bottom: -30px;
}
.logo-area .logo {
    display: flex;
    justify-content: space-between;
}
.logo-slide {
    display: flex;
    align-items: center;
}
.logo-slide img {
    width: 150px;
    height: 40px;
    margin-right: 20px;
}
/* Logo Area Style End 
---------------------------------*/

/* Collection Area Style start
---------------------------------*/
.collection-area .section-heading {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #3A3A3A;
    margin-bottom: 40px;
}
.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.item {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 17px 15px;
    border-radius: 5px;
}
.item:hover .item-info .item-title a {
    color: #E02C6D;
}

.item:hover .img-box img {
    transform: scale(1.2) rotate(-10deg);
}
.item .img-box {
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    border-radius: 7px;
}
.item .img-box img {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.item-info {
    padding-top: 30px;
}
.item-info .item-title {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    transition: all 0.3s ease-in-out;
}
.item-info .item-title a {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
    transition: all 0.3s ease-in-out;
}
.item-info .price {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    color: #18191F;
}
.item-info .item-review {
    display: flex;
    align-items: center;
}
.item-info .item-review i {
    color: #FB8200;
    font-size: 12px;
}
.item-info .item-review .rating {
    font-weight: 700;
    font-size: 14px;
    color: #5E6366;
    margin-left: 10px;
}
.item-info p {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.018em;
    color: #787885;
}
.load-more {
    text-align: right;
    margin-top: 30px;
}
.load-more .load-more-btn {
    background: transparent;
    border: none;
    color: #E02C6D;
    padding: 0;
}
.load-more .load-more-btn:hover {
    color: #5E6366;
}
/* Collection Area Style End 
---------------------------------*/

/* Subscribe Area Style 
---------------------------------*/
.subscribe-area {
    background: #f8f8f8;
}
.subscribe-area .subscribe-layout {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.subscribe-area .subscribe-layout .img-area .img-box {
    background: transparent;
}
.subscribe-content .title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #0A0826;
}
.subscribe-content form {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}
.subscribe-content form .form-control {
    height: 30px;
    padding: 5px 15px;
    border: 1px solid #E02C6D;
    border-radius: 30px;
    width: 70%;
    outline: none;

}
.subscribe-content form .submit-btn {
    font-size: 18px;
    color: #0A0826;
    margin-left: -50px;
    background: transparent;
    border: none;
    outline: none;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}
.subscribe-content form .submit-btn:hover {
    color: #E02C6D;
}
/* Subscribe Area Style End
---------------------------------*/


/* Footer Area Style 
---------------------------------*/
.footer-area {
    background: #0A0826;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 40px;

}
.footer-area .footer-content .title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.footer-area .footer-content p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    margin-bottom: 20px;
}
.footer-area .footer-content .social-links {
   list-style: none;
   display: flex;
   justify-content: center;
   padding: 0;
}

.footer-area .footer-content .social-links a {
   transition: all 0.3s ease-in-out;
}

.footer-area .footer-content .social-links a i {
   font-size: 18px;
   color: #FFFFFF;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 90px;
   padding: 15px;
   transition: all 0.3s ease-in-out;

}
.footer-area .footer-content .social-links a:hover i {
   color: #E02C6D;
   background: rgba(224, 44, 110, 0.1);
 
}
/* Footer Area Style End 
---------------------------------*/